* {
  box-sizing: border-box;
}

#header {
  border-bottom: 7px solid #00d1b2;
}

#habit-input-list li {
  display: inline-block;
}

.column-container {
  border: 2px solid #00d1b2;
}

.notif-list-title {
  border-bottom: 2px solid #00d1b2;
}

.habit-task {
  width: 300px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #00d1b2;
}


#first-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 419px){
  .status-select {
    width: 100px;
    font-size: 15px;
  }
}

