* {
  box-sizing: border-box;
}

#header {
  border-bottom: 7px solid #00d1b2;
}

#exercise-input-list li {
  display: inline-block;
}

.column {
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.column-container {
  border: 2px solid #00d1b2;
}

.exercise-list-title {
  border-bottom: 2px solid #00d1b2;
}

.exercise-task {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #00d1b2;
}

.status-select {
  display: flex;
  width: 9.5rem;
  font-size: 18px;
}
